<form [formGroup]="categoriaForm" #formDirective="ngForm" (ngSubmit)="onSubmit(categoriaForm, formDirective)">

  <div class="form-wrapper">
    <div class="form-row">
      <div class="form-col">
        <mat-form-field appearance="outline" hideRequiredMarker="true" color="accent">
          <mat-label>Categorias</mat-label>
          <mat-select formControlName="categorias" required>
            <mat-option *ngFor="let categoria of categorias | async" value="{{categoria.Id_categoria}}">{{categoria.Nombre}}</mat-option>
          </mat-select>
          <mat-error *ngIf="!categoriaForm.value.categorias?.valid">Debes seleccionar una categoria</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="form-col">
        <mat-form-field appearance="outline" hideRequiredMarker="true" hintLabel="Max 30 caracteres" color="accent">
          <mat-label>Nombre</mat-label>
          <input matInput #input formControlName="nombre" maxlength="30" required>
          <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
          <mat-error *ngIf="!categoriaForm.value.nombre?.valid">Debes introducir un nuevo nombre diferente al original</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="form-submit">
    <button class="btn-spinner" mat-raised-button type="submit" color="primary" [disabled]="isDisabled()" [disableRipple]="submitted" [class.submitted]="submitted">
      <span [hidden]="submitted">Editar</span>
      <mat-progress-spinner *ngIf="submitted" mode="indeterminate" diameter="20"></mat-progress-spinner>
    </button>
  </div>

</form>
