@import "~src/stylus/core/variables.styl"

.contenedor
  background-color: transparent
  height: calc(100vh - 364px)
  padding: 10px
  position: absolute
  width: calc(100% - 420px)

  .cartas
    padding-left: 10px
    padding-right: 10px
    padding-top: 0px

    .numero-pedido
      display: table-cell
      overflow-x: auto
      overflow-y: hidden
      vertical-align: middle
      width: 100%

      button.btn-cube
        height: 40px
        width: 40px
        margin: 2px 4px
        padding: 0px
        min-width: auto

        .mat-icon
          height: 24px
          width: 24px
          font-size: 24px

        span
          font-size: 16px
          font-weight: 600

    .select-empleado
      display: table-cell
      padding: 5px 5px

    .productos-tabla
      height: 21.9vh // TODO -- RECALCULAR ALTURA
      margin: 15px 0px 0px
      overflow: auto

      table
        width: 100%

    .button-tabla
      padding-left: 16px
      padding-right: 68px

      span
        font-size: 30px
        font-weight: bold
        float: right
