@import "~src/stylus/admin-display-form.styl"

.btn-spinner
  height: 36px

  mat-progress-spinner
    margin: auto

  ::ng-deep .mat-progress-spinner circle
  ::ng-deep .mat-spinner circle
    stroke: white !important
