<form [formGroup]="categoriaForm" (ngSubmit)="onSubmit()">

  <div class="form-wrapper">
    <mat-form-field appearance="outline" hideRequiredMarker="true" hintLabel="Max 30 caracteres">
      <mat-label>Nombre</mat-label>
      <input matInput #input formControlName="nombre" maxlength="30" required>
      <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
      <mat-error *ngIf="!categoriaForm.get('nombre').valid">Debes introducir un valor</mat-error>
    </mat-form-field>
  </div>

  <div class="form-submit">
    <button mat-raised-button type="submit" color="accent" [disabled]="!categoriaForm.valid">Agregar</button>
  </div>

</form>
