<form [formGroup]="categoriaForm" #formDirective="ngForm" (ngSubmit)="onSubmit(categoriaForm, formDirective)">

  <div class="form-wrapper">
    <div class="form-row">
      <div class="form-col">
        <mat-form-field appearance="outline" hideRequiredMarker="true" hintLabel="Max 30 caracteres" color="accent">
          <mat-label>Nombre</mat-label>
          <input matInput #input formControlName="nombre" maxlength="30" required>
          <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
          <mat-error *ngIf="!categoriaForm.value.nombre?.valid">Debes introducir un valor</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="form-submit">
    <button class="btn-spinner" mat-raised-button type="submit" color="primary" [disabled]="!categoriaForm.valid" [disableRipple]="submitted" [class.submitted]="submitted">
      <span [hidden]="submitted">Agregar</span>
      <mat-progress-spinner *ngIf="submitted" mode="indeterminate" diameter="20"></mat-progress-spinner>
    </button>
  </div>

</form>
