<div class="contenedor">
  <div class="contenedor-logo">
    <img src="assets/images/logo-iglu-white.svg" alt="Iglu Helados">
  </div>
  <app-hshp-divider></app-hshp-divider>
  <div class="contenedor-modulo">
    <button mat-raised-button matTooltip="Atención al cliente" color="primary" class="btn-cube">
      <mat-icon>supervisor_account</mat-icon>
    </button>
    <button mat-raised-button matTooltip="Gastos" color="primary" class="btn-cube">
      <mat-icon>account_balance_wallet</mat-icon>
    </button>
    <button mat-raised-button matTooltip="Retiros" color="primary" class="btn-cube">
      <mat-icon>move_to_inbox</mat-icon>
    </button>
    <button mat-raised-button matTooltip="Admin" color="primary" class="btn-cube">
      <mat-icon>perm_identity</mat-icon>
    </button>
    <button mat-raised-button matTooltip="Login" color="primary" class="btn-cube">
      <mat-icon>face</mat-icon>
    </button>
  </div>
  <app-hshp-divider></app-hshp-divider>
  <div class="contenedor-power-off">
    <button mat-icon-button matTooltip="Salir de la aplicación" color="warn">
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </div>
</div>
