@import "~src/stylus/core/variables.styl"

.contenedor
  background-color: transparent
  height: 100%
  width: 100%

  .contenedor-logo
    background-color: transparent
    height: 68px
    width: 100%

    img
      height: auto
      padding: 5px 0px
      width: 100%

  .contenedor-modulo
    background-color: transparent
    height: calc(100vh - 68px * 3 - 4px * 4 - 10px)
    padding: 5px 0px
    text-align: center
    width: 100%

    button.btn-cube
      height: 50px
      margin: 7px 2px
      min-width: auto
      padding: 0px
      width: 50px

  .contenedor-feature
  .contenedor-power-off
    background-color: transparent
    text-align: center

    button.btn-cube
      height: 50px
      margin: 7px 2px
      min-width: auto
      padding: 0px
      width: 50px

  .contenedor-feature
    padding: 5px 0px
    color: $white
