<div class="contenedor">
  <div class="contenedor-logo">
    <img src="assets/images/logo-iglu-white.svg" alt="Iglu Helados">
  </div>
  <app-hshp-divider></app-hshp-divider>
  <div class="contenedor-modulo">
    <button mat-raised-button matTooltip="Atención al cliente" color="primary" class="btn-cube">
      <mat-icon fontSet="fas" fontIcon="fa-user-friends" class="fa-lg"></mat-icon>
    </button>
    <button mat-raised-button matTooltip="Gastos" color="primary" class="btn-cube">
      <mat-icon fontSet="fas" fontIcon="fa-money-check-alt" class="fa-lg"></mat-icon>
    </button>
    <button mat-raised-button matTooltip="Retiros" color="primary" class="btn-cube">
      <mat-icon fontSet="fas" fontIcon="fa-inbox" class="fa-lg"></mat-icon>
    </button>
    <button mat-raised-button matTooltip="Admin" color="primary" class="btn-cube">
      <mat-icon fontSet="fas" fontIcon="fa-user-tie" class="fa-lg"></mat-icon>
    </button>
    <button mat-raised-button matTooltip="Login" color="primary" class="btn-cube">
      <mat-icon fontSet="fas" fontIcon="fa-sign-in-alt" class="fa-lg"></mat-icon>
    </button>
  </div>
  <div class="contenedor-feature">
    <button mat-icon-button matTooltip="Modo nocturno" class="btn-cube">
      <mat-icon fontSet="fas" fontIcon="fa-moon" class="fa-lg"></mat-icon>
    </button>
  </div>
  <app-hshp-divider></app-hshp-divider>
  <div class="contenedor-power-off">
    <button mat-icon-button matTooltip="Salir de la aplicación" color="warn" class="btn-cube">
      <mat-icon fontSet="fas" fontIcon="fa-power-off" class="fa-lg"></mat-icon>
    </button>
  </div>
</div>
