.contenedor
  padding: 10px
  position: absolute
  height: calc(100% - 20px)
  width: calc(100% - 20px)

  .cartas
    height: 100%
    padding: 0px

    .carta-header
      padding: 24px 24px 0px

    div
      padding: 24px
