form
  padding: 0px 120px

  .form-wrapper
    margin-bottom: 50px

    .form-row
      margin-bottom: 15px

      .form-col
        display: inline-block
        padding: 0px 10px
        text-align: center
        width: calc(33% - 20px)

  .form-submit
    text-align: right
