.btn-spinner
  height: 36px

  &.submitted
    cursor: default

  mat-progress-spinner
    margin: auto

  ::ng-deep .mat-progress-spinner circle
  ::ng-deep .mat-spinner circle
    stroke: white !important
