@import "~src/stylus/core/variables.styl"

.contenedor-main
  background-color: $gray20
  display: table
  height: 100%
  width: 100%

  .contenedor-menu
    background-color: $menu-bgc
    display: table-cell
    height: 100%
    width: 68px

  .contenedor-display
    background-color: $menu-bc
    display: table-cell
    height: 100%
    position: relative
    width: calc(100% - 68px)
