<!--The content below is only a placeholder and can be replaced.-->
<div class="contenedor-main">
  <ng-container *ngIf="true">
    <div class="admin-menu">
      <app-hshp-admin-menu></app-hshp-admin-menu>
    </div>
    <div class="admin-display">
      <ng-container *ngIf="false">
        <app-hshp-admin-categoria></app-hshp-admin-categoria>
      </ng-container>
      <ng-container *ngIf="true">
        <app-hshp-admin-producto></app-hshp-admin-producto>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="false">
    <div class="public-menu">
      <app-hshp-menu></app-hshp-menu>
    </div>
    <div class="public-display">
      <app-hshp-customer-support></app-hshp-customer-support>
    </div>
  </ng-container>
</div>
