@import "~src/stylus/core/variables.styl"

.contenedor-main
  background-color: $menu-bc
  display: table
  height: 100%
  width: 100%

  .public-menu
    background-color: $menu-bgc
    display: table-cell
    height: 100%
    width: 68px

  .public-display
    background-color: $menu-bc
    display: table-cell
    height: 100%
    position: relative
    width: calc(100% - 68px)

  .admin-menu
    background-color: $menu-bgc
    display: table-cell
    height: 100%
    width: 240px

  .admin-display
    background-color: $menu-bc
    display: table-cell
    height: 100%
    position: relative
    width: calc(100% - 240px)
