.contenedor-principal
  background-color: #CCC
  display: table
  height: 100%
  width: 100%

  .contenedor-menu
    background-color: #FFF
    display: table-cell
    height: 100%
    width: 68px

  .contenedor-display
    background-color: red
    display: table-cell
    height: 100%
    width: calc(100% - 68px)
