<div class="contenedor">
  <mat-card class="cartas">
    <mat-card-content>
      <div class="productos-lista">
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
