@import "~src/stylus/core/variables.styl"

.contenedor
  height: 334px
  padding: 0px 10px 10px
  position: absolute
  top: calc(100vh - 344px)
  width: calc(100% - 20px)

  .cartas
    height: 324px
    padding: 5px
    position: relative

    .productos-wrapper
      border-right-color: rgba(255, 255, 255, 0.12)
      border-right-style: solid
      border-right-width: 1px
      display: inline-block
      height: 324px
      overflow-y: auto
      position: absolute
      width: 1095px

      .productos-lista
        width: 100%

        button.btn-img
          height: 100px
          width: 100px
          margin: 4px
          padding: 0px 5px
          line-height: normal
          vertical-align: top
          background-color: $iglu-orange //transparent
          background-repeat: no-repeat
          background-size: cover
          background-position: center center
          //background-image: url('../../assets/images/helado.jpg')

          span
            font-weight: bold
            white-space: normal

    .categoria-wrapper
      display: inline-block
      height: 324px
      left: 1100px
      overflow-y: auto
      position: absolute
      width: calc(100% - 1095px - 10px)

      .categorias-lista
        display: table-cell
        text-align: center

        button
          margin: 4px
          width: 120px

          span
            font-weight: bold
            font-size: 16px
