<div class="contenedor">
  <mat-card class="cartas">
    <mat-card-content>
      <div class="productos-wrapper">
        <div class="productos-lista">
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
          <button mat-raised-button class="btn-img">
            <span>Prueba</span>
          </button>
        </div>
      </div>
      <div class="categoria-wrapper">
        <div class="categorias-lista">
          <button *ngFor="let categoria of categorias | async" mat-raised-button color="primary">
            <span>{{categoria.Nombre}}</span>
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
