<div class="contenedor">
  <mat-card class="cartas">
    <mat-card-content>
      <div class="productos-lista">
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
        <button mat-raised-button class="btn-img">
          <span>Prueba</span>
        </button>
      </div>
      <mat-divider [vertical]="true" class="divider-vertical"></mat-divider>
      <div class="categorias-lista">
        <button mat-raised-button color="accent">
          <span>categoria 1</span>
        </button>
        <button mat-raised-button color="accent">
          <span>categoria 1</span>
        </button>
        <button mat-raised-button color="accent">
          <span>categoria 1</span>
        </button>
        <button mat-raised-button color="accent">
          <span>categoria 1</span>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
