<form [formGroup]="categoriaForm" (ngSubmit)="onSubmit()">

  <div class="form-wrapper">
    <div class="form-row">
      <div class="form-col">
        <mat-form-field appearance="outline" color="accent">
          <mat-select placeholder="Seleccionar categoria">
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="form-submit">
    <button mat-raised-button type="submit" color="primary" [disabled]="true">Eliminar</button>
  </div>

</form>
