<div class="contenedor">
  <div class="contenedor-titulo">
    <h3>Menu Administrador</h3>
  </div>
  <app-hshp-divider></app-hshp-divider>
  <div class="contenedor-options">
    <button mat-button class="btn-menu">
      <span>Categorias</span>
    </button>
    <button mat-button class="btn-menu">
      <span>Productos</span>
    </button>
    <button mat-button class="btn-menu">
      <span>Empleados</span>
    </button>
  </div>
  <app-hshp-divider></app-hshp-divider>
  <div class="contenedor-exit-app">
    <button mat-icon-button matTooltip="Salir del menu administrador" color="warn">
      <mat-icon class="rotate-180">exit_to_app</mat-icon>
    </button>
  </div>
  <div class="contenedor-version">
    <span>Iglu Gestion</span>
    <span>version 0.0.0</span>
  </div>
</div>
