/* You can add global styles to this file, and also import other style files */

@import "~normalize.css/normalize.css"
@import "~src/assets/styles/icon.css"
@import "~src/stylus/core/variables.styl"


html
body
  background-color: $gray60
  height: 100vh
  min-height: 100vh
